header {
    background: #08243a;

    .container-narrow {
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1em;
        color: white;
        padding-block: 2.3rem;
        font-size: 2.2rem;
        font-weight: 300;

        strong {
            font-weight: 300;
        }

        a {
            color: white;
            font-size: 2.2rem;
            font-weight: 500;
        }
    }
}
